$primary-color: #34495e;
$btn-bg-disabled-color: #ECECEC;

.btn-add {
  background: $primary-color;
  padding: 1.5rem;
  color: white;
  letter-spacing: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  font-family: Calibri;
  font-size: 1.6rem;
  margin: 1rem;
  width: 100%;
  text-transform: uppercase;
  &:disabled {
    background: $btn-bg-disabled-color;
    color: #CDCDCD;
    &:hover {
      background: $btn-bg-disabled-color;
    }
  }
  &:hover {
    background: #617181;
  }
}

.error {
  color: #ff0000;
  font-size: 2rem;
  text-align: left;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input-skill {
    display: flex;
    width: 100%;
}

.input-experience {
    display: flex;
    width: 100%;
}

input {
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid $primary-color;
  width: 100%;
}

select {
  margin: 10px;
  border-radius: 0.2rem;
  padding: 1.5rem;
  color: $primary-color;
  font-weight: 600;
  width: 100%;
}

@media only screen and (max-width: 1240px) {
  form {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 680px) {
    .input-experience {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}
