html {
    font-size: 62.5%;
}

body {
  font-family: Calibri;
  margin-top: 20vh;
}

  .primary-heading {
    text-transform: uppercase;
  }
  
.app {
    width: 50%;
    min-width: 19rem;
    margin: 0 auto;
  }