.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: #F4F5F6; 
    border-radius: .5rem;
    margin: 0 auto;
    border: #F4F5F6 solid 2px;
}

@media only screen and (max-width: 1240px) {
    .card-list {
        padding: 0;
    }
}