$border-color-hover: #e4e6e7;
$mobile-border-color: #d1d4d5;
$border-color: #f4f5f6;
$card-id-bg-color: #80878b;
$background-color: #1a998e;
$border-radius: .2rem;

.card {
  display: flex;
  background: #ffffff;
  border-radius: $border-radius;
  border: $border-color solid .2rem;
  margin: .3rem;
  flex-shrink: 1;
  &:hover {
    border: $border-color-hover solid .2rem;
    .card-id {
      background-color: $background-color;
    }
    .card-delete {
      visibility: visible;
    }
  }
}

.card-id {
  display: inline-block;
  height: inherit;
  color: #fff;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: $card-id-bg-color;
  font-size: 1.35rem;
}

.card-delete {
  visibility: hidden;
  margin-left: auto;
  padding-right: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.black-id {
  background-color: #25333C;
}

.card-content {
  margin: .5rem;
}

.content-skill {
  display: block;
  font-weight: 600;
  font-size: 1.35rem;
  margin-right: 6rem;
}

.content-experience {
  display: block;
  margin-top: .5rem;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: .5rem;
  color: #767E84;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .card {
    margin: 0;
    width: 100%;
  }

  .card-delete {
    visibility: visible;
  }

  .card-id {
    border-radius: 0;
  }
}
